.no-margins {
    margin: 0;
}
/*------------------------------------*   $BUTTONS
\*------------------------------------*/

.btn,
.login form#loginform input[type="submit"],
.login form#registerform input[type="submit"],
.login form#lostpasswordform input[type="submit"] {
    display: inline-block;
    padding: 12px 24px;
    background-color: #7d7d7d;
    color: white;
    font-size: 14.95px;
    text-align: center;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    transition: 0.1s background-color ease-out;
    -webkit-appearance: none;
}
.btn:hover,
.login form#loginform input[type="submit"]:hover,
.login form#registerform input[type="submit"]:hover,
.login form#lostpasswordform input[type="submit"]:hover,
.btn:focus,
.login form#loginform input[type="submit"]:focus,
.login form#registerform input[type="submit"]:focus,
.login form#lostpasswordform input[type="submit"]:focus {
    background-color: #41A6DF;
}
.btn.fullwidth,
.login form#loginform input.fullwidth[type="submit"],
.login form#registerform input.fullwidth[type="submit"],
.login form#lostpasswordform input.fullwidth[type="submit"] {
    display: block;
    font-size: 18px;
}
.btn[disabled],
.login form#loginform input[disabled][type="submit"],
.login form#registerform input[disabled][type="submit"],
.login form#lostpasswordform input[disabled][type="submit"] {
    pointer-events: none;
    opacity: 0.5;
}
.entry-content a.btn,
.entry-content a.btn:hover {
    color: white;
}
.login label,
#login #nav a,
#login #backtoblog a,
#login label {
    font-family: Source Sans Pro, Helvetica, sans-serif;
}
#login h1:before,
.login form#loginform input[type="submit"],
.login form#registerform input[type="submit"],
.login form#lostpasswordform input[type="submit"] {
    font-family: 'Hanken', sans-serif;
}
.btn,
.login form#loginform input[type="submit"],
.login form#registerform input[type="submit"],
.login form#lostpasswordform input[type="submit"] {
    font-weight: 300;
}
.page-login-modal {
    background-color: transparent;
    overflow: hidden;
}
.page-login-modal #backtoblog {
    display: none;
}
.page-login-modal #login #nav,
.page-login-modal #login #backtoblog {
    color: white;
}
.page-login-modal #login #nav a,
.page-login-modal #login #backtoblog a {
    color: white;
}
.page-login-modal .login form#loginform {
    margin-top: 0;
}
html {
    background: none;
}
body.login {
    padding: 20px 0;
    display: flex;
}
body.login #login {
    position: relative;
    padding-top: 0;
    width: 450px;
    max-width: 100%;
    margin: auto;
}
#login h1 {
    position: absolute;
    top: 40px;
    left: 50px;
    width: calc(100% - 100px);
    display: block;
    padding-bottom: 28px;
    /*border-bottom: 2px solid rgba(0, 0, 0, 0.075);*/
    font-size: 1.125rem;
}
#login h1 a {
    background-size: 140px auto;
    height: 30px;
    width: 100%;
}
.login-action-login #login h1::before {
    display: none;
}
.login-action-login h1:before {
    content: "Login";
}
.login-action-register h1:before {
    content: "Register";
}
.login-action-lostpassword h1:before {
    content: "Recover password";
}
.login form#loginform,
.login form#registerform,
.login form#lostpasswordform {
    border-radius: 7px;
    /*background-color: #ffffff;
    border: 1px solid #02317a;
    box-shadow: none;
    margin-top: 0;
    padding: 80px 50px 60px;*/
}
.login form#loginform .submit,
.login form#registerform .submit,
.login form#lostpasswordform .submit {
    position: relative;
}
.login form#loginform .submit:after,
.login form#registerform .submit:after,
.login form#lostpasswordform .submit:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left: 4px solid white;
    pointer-events: none;
}
.login form#loginform input[type="submit"],
.login form#registerform input[type="submit"],
.login form#lostpasswordform input[type="submit"] {
    box-shadow: none;
    float: none !important;
    height: auto;
    line-height: normal;
    margin-bottom: 0;
    margin-right: -2px;
    padding: 14px 35px 14px 24px;
    text-shadow: none !important;
    text-transform: uppercase;
}
.login form#loginform input[type="password"] {
    margin-bottom: 30px;
    letter-spacing: .1em;
}
.login form#loginform .wc-social-login {
    margin: 20px 0;
}
.login form#registerform p.submit,
.login form#lostpasswordform p.submit {
    width: auto;
}
.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
    margin-top: 10px;
    margin-bottom: 22px;
    box-shadow: none;
    border-width: 1px;
    background: none;
    font-size: 15px;
    font-weight: normal;
    color: #5D5C5C;
}
.login .forgetmenot,
.login .submit {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
}
@media screen and (min-width: 341px) {
    .login .forgetmenot,
    .login .submit {
        width: 49.3%;
    }
}
.login p.submit {
    text-align: left;
}
@media screen and (max-width: 340px) {
    .login p.submit {
        margin-top: 15px !important;
    }
    .login p.submit,
    .login p.submit input {
        width: 100%;
    }
}
@media screen and (min-width: 360px) {
    .login p.submit {
        text-align: right;
    }
}
.login label {
    color: #484848;
    font-size: 15px;
    font-weight: 700;
}
.login .forgetmenot label {
    color: #919191;
    font-weight: 500;
}
.login .jetpack-sso-wrap {
    float: none;
    margin-top: 30px;
    text-align: center;
}
#login #nav,
#login #backtoblog {
    /*margin: 0px;*/
    text-align: center;
}
#login #nav a,
#login #backtoblog a {
    font-size: 15px;
}
#login input[type="text"],
#login input[type="password"],
#login input[type="email"] {
    display: block;
    vertical-align: middle;
    width: 100%;
    padding: 0.75rem 0.75rem;
    outline: 0;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.075);
    -webkit-appearance: none;
}
.lt-ie9 #login input[type="text"] input,
.lt-ie9 #login input[type="password"] input,
.lt-ie9 #login input[type="email"] input {
    width: 100%;
    padding: 12px 0;
    outline: 0;
}
#login input[type="text"]:focus,
#login input[type="password"]:focus,
#login input[type="email"]:focus {
    border-color: rgba(0, 0, 0, 0.075);
    outline: 0;
}

body.login {
    /* background-color: #41a6df;
    background: #7db9e8;
    background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #0f4f99 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#0f4f99 100%);
    background: radial-gradient(ellipse at center,  #7db9e8 0%,#0f4f99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0f4f99',GradientType=1 ); */
    padding: 0px;
}
body.login #login {
    max-width: 80%;
    /*width: 550px;*/
}
#login label {
    color: #484848;
    font-size: 15px;
    font-weight: 700;
}
.login div#login_error,
.login div.message {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    padding: 20px 50px;
    border-bottom: 4px solid #00a0d2;
    border-left: 0;
}
.login div#login_error {
    border-bottom-color: #dc3232;
}
.page-login-modal .message.register {
    display: none;
}
a:focus {
    outline: none;
}
#loginform .newsociallogins > br {
    display: none;
}
#loginform > .newsociallogins > a {
    float: left;
    position: relative;
    width: 33.3%;
}
#loginform > .newsociallogins > a .new-twitter-default-anim,
#loginform > .newsociallogins > a .new-google-default-anim,
#loginform > .newsociallogins > a .new-fb-default-anim {
    background-image: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
}
#loginform > .newsociallogins > a .new-twitter-default-anim > div.new-twitter-1-1,
#loginform > .newsociallogins > a .new-google-default-anim > div.new-google-1-1,
#loginform > .newsociallogins > a .new-fb-default-anim > div.new-fb-1-1 {
    background-image: none;
    padding: 0px 5px;
}
#loginform > .newsociallogins > a .new-twitter-default-anim > div.new-twitter-1-1 > .new-twitter-1-1-1,
#loginform > .newsociallogins > a .new-google-default-anim > div.new-google-1-1 > .new-google-1-1-1,
#loginform > .newsociallogins > a .new-fb-default-anim > div.new-fb-1-1 > .new-fb-1-1-1 {
    background-position: 88% center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    border-radius: 5px;
    font-size: 10px;
    position: relative;
    text-shadow: none;
}
#loginform > .newsociallogins > a .new-twitter-default-anim > div.new-twitter-1-1 > .new-twitter-1-1-1 {
    background-color: #1CB7EB;
    background-image: url("../images/tw.png");
}
#loginform > .newsociallogins > a .new-google-default-anim > div.new-google-1-1 > .new-google-1-1-1 {
    background-color: #E3411F;
    background-image: url("../images/google.png");
}
#loginform > .newsociallogins > a .new-fb-default-anim > div.new-fb-1-1 > .new-fb-1-1-1 {
    background-color: #4E71A8;
    background-image: url("../images/fb.png");
    background-size: 9px auto;
}
/* #loginform > .newsociallogins > a .new-twitter-default-anim > div.new-twitter-1-1 > .new-twitter-1-1-1::before,
#loginform > .newsociallogins > a .new-google-default-anim > div.new-google-1-1 > .new-google-1-1-1::before,
#loginform > .newsociallogins > a .new-fb-default-anim > div.new-fb-1-1 > .new-fb-1-1-1::before {
    content: "\f099";
    font-family: 'FontAwesome';
    font-size: 18px;
    height: 100%;
    line-height: 42px;
    position: absolute;
    right: 0;
    width: 50px;
}
#loginform > .newsociallogins > a .new-google-default-anim > div.new-google-1-1 > .new-google-1-1-1::before {
    content: "\f0d5";
}
#loginform > .newsociallogins > a .new-fb-default-anim > div.new-fb-1-1 > .new-fb-1-1-1::before {
    content: "\f09a";
} */
#login > form#loginform > h3 {
    font-weight: 500;
    margin: 10px 0;
}
#login > form#loginform label {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: relative;
    text-transform: capitalize;
}
/* #login > form#loginform label[for="user_login"]::before,
#login > form#loginform label[for="user_pass"]::before {
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #dedede;
    color: #adadad;
    content: "";
    font-family: "FontAwesome";
    font-size: 15px;
    height: 45px;
    left: 0;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 60px;
}
#login > form#loginform label[for="user_login"]::before {
    content: "\f2c0";
}
#login > form#loginform label[for="user_pass"]::before {
    content: "\f084";
}
#login > form#loginform input[type="text"],
#login > form#loginform input[type="password"],
#login > form#loginform input[type="email"] {
    border: 1px solid #dedede;
    color: #1d1d1d;
    height: 46px;
    line-height: 46px;
    padding: 0 15px 0 75px;
}
#login #nav a {
    bottom: 21px;
    left: 50px;
    position: absolute;
}
#login #backtoblog a {
    bottom: 21px;
    position: absolute;
    right: 50px;
}
#loginform > .newsociallogins > a .new-twitter-default-anim > div.new-twitter-1-1 > .new-twitter-1-1-1 {
    border-radius: 4px 0px 0px 4px;
}
#loginform > .newsociallogins > a .new-fb-default-anim > div.new-fb-1-1 > .new-fb-1-1-1 {
    border-radius: 0px 4px 4px 0px;
} */